<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIScorllView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBCE40701E82A98F009812ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBCE40841E82A98F009812ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBCE408F1E82A98F009812ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
